.contacts__header {
  padding-top: 10rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.contacts__header > h1 { margin-bottom: 1rem; font-size: 1.75rem; }
.contacts__header > p {  letter-spacing: 1.2pt; }
.contacts__header > p span { margin-right: 0.8rem; font-weight: 500; }

.contacts__form { margin-top: 5rem; display: flex; flex-direction: column; }
.contacts__form > h2 { margin-bottom: 2rem; font-size: 1.75rem; }
.contacts__form > *:not(button) { border: none; }
.contacts__form label { letter-spacing: 1px; display: flex; }
.contacts__form label span { margin-left: auto; letter-spacing: 1px; }

.contacts__form input, .contacts__form textarea {
  margin-block: 0.75rem 1.5rem;
  padding: 0.75rem 0.5rem;

  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1pt;
  color: var(--clr-secondary);
  background-color: unset;

  border: 1.5px solid var(--clr-secondary);
  border-radius: 0.25rem;

  overflow: hidden;
  line-height: 1.75rem;
  resize: none;
}

.contacts__form input:focus-visible, .contacts__form textarea:focus {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  box-shadow: var(--shadow-focus);
}

.contacts__form input:focus, .contacts__form textarea:focus { outline: none; }

.contacts__form button {
  width: 10rem;
  padding-block: 0.8rem;

  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1pt;

  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.contacts__form button:hover {
  color: var(--clr-secondary);
  background-color: var(--clr-accent);
  box-shadow: var(--shadow-focus);
}

/* Laptop and up*/
@media screen and (min-width: 60rem) {
  .contacts__form > *:not(button) { width: 36rem; }
}