.hero__header {
  height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;

  color: var(--clr-secondary);
  background-color: var(--clr-primary);
}

.hero__title { margin-top: 10rem; display: flex; flex-direction: column; }
.hero__title span[data-state] { cursor: default; }

.hero__name,
.hero__position,
.hero__statement { text-transform: uppercase; }

.hero__name { font-size: 3rem; }
.hero__position { font-size: 1.2rem; letter-spacing: 1.5pt; }
.hero__statement { font-size: 0.9rem; letter-spacing: 1pt;}

.hero__title [data-state='current'] { color: var(--clr-accent); }
.hero__title [data-state='current'] { font-weight: 900; }
.hero__title [data-state='close'] { font-weight: 700; }
.hero__title [data-state='far'] { font-weight: 400; }

.hero__partnership { letter-spacing: 0.5pt; }
.hero__partnership > a { text-decoration: underline; font-weight: 400; }

/* Tablet and up*/
@media screen and (min-width: 30rem) {
  .hero__name { font-size: 4rem; }
  .hero__position { font-size: 1.6rem; letter-spacing: 2pt; }
  .hero__statement { font-size: 1rem; letter-spacing: 1pt;}
}
/* Widescreen and up*/
@media screen and (min-width: 85rem) {
  .hero__title { margin-top: 5rem; }
}
