@import url('reset.css');
@import url('home.css');
@import url('blog.css');

:root {
  --clr-youngnight: #232323;
  --clr-eerie: #1f1f1f;
  --clr-zeuspalace: #3c343d;
  --clr-valhalla: #2a2b41;
  --clr-viennaroast: #330022;
  --clr-wildiris: #2f2f4a;
  --clr-void: #050d25;
  --clr-jet: #3c343d;
  --clr-bone: #e0ddcf;
  --clr-isabelline: #f7f0ea;
  --clr-tomato: #ff4a49;
  --ff-primary: 'Mona Sans', sans-serif;

  --padding-inline: 1.5rem;
  --nav-height: 6rem;
  --screen-height: calc(100svh - var(--nav-height));
}

body[data-color-theme='dark'] {
  --clr-primary: var(--clr-youngnight);
  --clr-secondary: var(--clr-bone);
  --clr-accent: var(--clr-tomato);
  --clr-focus: var(--clr-eerie);
}

body[data-color-theme='light'] {
  --clr-primary: var(--clr-bone);
  --clr-secondary: var(--clr-youngnight);
  --clr-accent: var(--clr-tomato);
  --clr-focus: var(--clr-bone);
}

body {
  color: var(--clr-secondary);
  background-color: var(--clr-primary);

  font-family: var(--ff-primary);
  font-weight: 300;
}

body > * { padding-inline: var(--padding-inline); }
a:hover { color: var(--clr-accent); }

.nav {
  position: sticky;
  top: 0;
  height: var(--nav-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1rem;
  letter-spacing: 1.5pt;

  background-color: var(--clr-primary);
}

.nav__links { 
  display: flex;
  align-items: end;
  gap: 0.5rem;

  font-weight: 400;
}

.nav__theme_toggle {
  all: unset;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  cursor: pointer;
}

.nav__theme_toggle > img {
  position: absolute;
  width: 24;
  height: 24;
  transition: opacity 0.2s;
  opacity: 0;
}

.nav__links a[data-current] { font-weight: 700; }
body[data-color-theme='light'] [data-reference='moon-icon'] { opacity: 1; }
body[data-color-theme='dark'] [data-reference='sun-icon'] { opacity: 1; }

/* Tablet and up*/
@media screen and (min-width: 30rem) {
  :root { --padding-inline: 3rem; }
  .nav__links { margin-top: 0.5rem; gap: 2rem; }
}
/* Laptop and up*/
@media screen and (min-width: 60rem) {
  :root { --padding-inline: 5rem; }
}
/* Widescreen and up*/
@media screen and (min-width: 85rem) {
  :root { --padding-inline: calc((100vw - 70rem) / 2); }
}
