@font-face {
  font-family: 'Mona Sans';
  src: url('/static/fonts/Mona-Sans.ttf') format('truetype'),
    url('/static/fonts/Mona Sans/Mona-Sans.woff2') format('woff2'),
    url('/static/fonts/Mona Sans/Mona-Sans.woff') format('woff');
}

*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; padding: 0; font: inherit; list-style: none; }
* { transition: all 0.2s ease; }

body { min-height: 100svh; }
html { touch-action: manipulation; }

img, picture, svg, video { display: block; max-width: 100%; }

h1, h2, h3, h4, h5, h6 { text-wrap: balance; }
h2, p, li { max-width: 65ch; text-wrap: pretty; }

a, a:active, a:hover { text-decoration: none; color: inherit; }
