.works__main { display: grid; padding-block: 5rem; }
.works__main > h2 { font-size: 1.5rem; font-weight: 500; }
.works__main > p { font-size: 1.2rem; margin-bottom: 1rem; }
.works__main > a { width: fit-content; text-decoration: underline; }
.works__main > a img { margin-block: 1.5rem 1rem; }
